* {
    font-family: Roboto, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

.info-background {
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center;
    padding-top: 20px;
}

.info-container {
    width: 1500px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
}

.info-boxes {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.info-box {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
}

.info-box p {
    text-align: center;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
    padding: var(--padding);
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

.hero-body {
    display: flex;
    flex-basis: 1500px;
    justify-content: space-between;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    padding-top: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-basis: 1500px;
}

.header-links {
    display: flex;
    gap: 16px;
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.hero-text button {
    background-color: #3882F6;
    align-self: flex-start;
    justify-self: flex-end;
    border-radius: 5px;
    border: 0px;
    padding: 5px 20px;
    margin-top: 10px;
}

.info-big-text {
    font-size: 36px;
    font-weight: 800;
    align-self: center;
    margin-bottom: 50px;
}

.quote-background {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    margin-top: auto;
}

.quote-container {
    display: flex;
    flex-direction: column;
    width: 1500px;
    padding: 200px 100px;

}

.quote-author {
    margin-top: 30px;
    font-size: 20px;
    align-self: flex-end;
    font-weight: bold;
}

.footer p {
    color: white;
}